README_files/*
README.html

data/
feuds/

etc/apikey.txt

src/__pycache__/creds.cpython-39.pyc
src/creds.py
src/get_text.py
src/__pycache__/creds.cpython-38.pyc
src/apikey.txt

output/group_selection*
output/groupSel_feud.csv
output/spacy_group_selection_grobid/*
output/train_cca.jsonl
output/test_cca.jsonl
output/train_stance_prepared.jsonl
output/train_stance.jsonl
output/test_stance.jsonl
output/project-25-at-2023-04-26-16-26-86cb0a7a.json
output/*.jsonl
output/*.json
output/wandb
output/.cache_fine_tuned/
etc/gpt-early-exp/gpt_early_exp_2.ipynb
output/coref_par_w_ent_1960_1970.csv
